<section class="stats">
  <h2>Server Status</h2>
  <p>Server stats go here. Drive temps, processes, etc</p>
</section>

<section class="latest-movies">
  <h2>Latest Movies</h2>
  <ul>
    <li>Movie Title Number #1</li>
    <li>Movie Title Number #2</li>
    <li>Movie Title Number #3</li>
    <li>Movie Title Number #4</li>
    <li>Movie Title Number #5</li>
    <li>Movie Title Number #6</li>
    <li>Movie Title Number #7</li>
  </ul>
</section>

<section class="latest-movies">
  <h2>Latest Downloads</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Folder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td title="Change this title">Movie Title Number #1</td>
        <td>Movie</td>
        <td title="Change the folder">videos/movies</td>
      </tr>
      <tr>
        <td title="Change this title">Movie Title Number #2</td>
        <td>Movie</td>
        <td title="Change the folder">videos/movies</td>
      </tr>
      <tr>
        <td title="Change this title">TV Title Number #2</td>
        <td>TV</td>
        <td title="Change the folder">videos/tv</td>
      </tr>
      <tr>
        <td title="Change this title">Music Title Number #2</td>
        <td>Music</td>
        <td title="Change the folder">music/artist/album</td>
      </tr>
    </tbody>
  </table>
</section>
